.container {
    margin-top: 20px;
    margin-bottom: 50px;
}


.full-width {
    width: 100%;
}

textarea {
    resize: vertical;
}
.sign-out {
  text-decoration: underline;
  cursor: pointer;
}

.display-name {
  font-weight: 400;
}

