.layout-container {
    display: grid;
    grid-template-columns: auto 700px auto;
}

.header {
    height: 50px;
    border-bottom: solid 1px silver;
    grid-column: 2 / span 1;
    min-width: 0;
    background-color: #0984e3;
}

.content {
    grid-column: 2 / span 1;
    min-width: 0;
}

@media only screen and (max-width: 700px) {
    .layout-container {
        display: block;
        padding: 0 10px;
    }
}