.post-content {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;

    img {
      max-width: 100%;
      height:auto !important;
    }
}

.post-title {
  font-weight: 500;
  font-size: 36px;
  margin: 10px 0;
}

.comment {
    margin-top: 20px;
}

.comments-label {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .post-content {
        padding: initial;
    }
}
