/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    // background-color: #fafafa;
    margin: 0;
}


.date {
  font-weight: 100;
  color: #606060;
}

.accent-color {
  color: #4169e1;
}

pre {
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}
